<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Projekt_Obiektówka.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Projekt_Obiektówka.Properties.Settings>
            <setting name="DataBase" serializeAs="String">
                <value>Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename="C:\Users\zeter\Desktop\VS Studia\Projekt Obiektówka\Projekt Obiektówka\DataBase\Database1.mdf";Integrated Security=True</value>
            </setting>
        </Projekt_Obiektówka.Properties.Settings>
    </userSettings>
</configuration>